# Build files and folders
.gradle/
build/

# Properties
local.properties

# Idea
.idea/
# Project icon
!.idea/icon.svg
**/*.iml

# Mac OS
.DS_Store

# Layout Inspector files
captures/

# Kotlin
.kotlin/
